/* styles.css */
@font-face {
  font-family: myfont;
  src: url(fonts/GlitchGoblin-2O87v.ttf);
}
/* Reset default margin and padding */
*{
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  line-height: 1.6;
}

header {
  background-color:#59116d;
  color: #fff;
  padding: 20px;
}

nav ul {
  background-color: #59116d;
  list-style: none;
  display: flex; /* Flexbox */
  justify-content: space-between; /* Spread navigation links evenly */
  align-items: center; /* Center-align navigation items vertically */
}

nav ul li {
  margin-left: auto;
  margin-right: auto;
}

nav ul li a {
  color: #fce63e;
  text-decoration: none;
  font-family: 'myfont';
  font-size: x-large;
}

nav h1 {
  color: purple; /* Change the navigation bar title color to purple */
}

section {
  padding: 40px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.hero-content {
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: 'myfont', sans-serif; /* Set the font to 'Orbitron' */
}

p {
  font-size: 18px;
}

.project {
  margin-bottom: 20px;
}

form input,
form textarea,
form button {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
}

form button {
  background-color: #59116d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.social-icons {
  text-align: center;
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #666;
}

#comic-generation form {
  display: flex; /* Flexbox */
}

#comic-generation input[type="email"] {
  flex: 1; /* Expand input to fill available space */
  margin-right: auto;
}

#comic-section .comic-container {
  display: flex; /* Flexbox */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center-align elements horizontally */
  text-align: center;
}
